<a href="https://colab.research.google.com/github/nitinsaimajji/Pandas/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np
df=pd.read_excel('data.xlsx')
df = df.dropna(axis=1)

Drop All Columns with Any Missing Value

In [15]:
df

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

In [18]:
df.columns

Index(['Customer', 'Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)',
       'Payment (Rs)'],
      dtype='object')

In [19]:
A=df[['Candies (#)','Mangoes (Kg)','Milk Packets (#)']]
A=np.array(A)

In [20]:
C=df['Payment (Rs)']

In [21]:
A

array([[20,  6,  2],
       [16,  3,  6],
       [27,  6,  2],
       [19,  1,  2],
       [24,  4,  2],
       [22,  1,  5],
       [15,  4,  2],
       [18,  4,  2],
       [21,  1,  4],
       [16,  2,  4]])

In [22]:
C

0    386
1    289
2    393
3    110
4    280
5    167
6    271
7    274
8    148
9    198
Name: Payment (Rs), dtype: int64

In [23]:
np.linalg.matrix_rank(A)

3

In [24]:
np.linalg.matrix_rank(C)

1

In [25]:
A=np.linalg.pinv(A)

In [26]:
X=np.matmul(A,C)
X

array([ 1., 55., 18.])

In [27]:
X.shape

(3,)

In [28]:
df['classify'] = ''

In [30]:
df

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs) classify
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

In [33]:
df['classify'] = df['Payment (Rs)'].apply(lambda x: 'RICH' if x > 200  else 'POOR');

In [34]:
df

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs) classify
0      C_1           20             6                 2           386     RICH
1      C_2           16             3                 6           289     RICH
2      C_3           27             6                 2           393     RICH
3      C_4           19             1                 2           110     POOR
4      C_5           24             4                 2           280     RICH
5      C_6           22             1                 5           167     POOR
6      C_7           15             4                 2           271     RICH
7      C_8           18             4                 2           274     RICH
8      C_9           21             1                 4           148     POOR
9     C_10           16             2                 4           198     POOR

In [45]:
df=pd.read_excel('irctc.xlsx')
df

,Date,Month,Day,Price,Open,High,Low,Volume,Chg%
0,"Jun 29, 2021",Jun,Tue,2081.85,2092.00,2126.90,2065.05,1.67M,0.0020
1,"Jun 28, 2021",Jun,Mon,2077.75,2084.00,2112.45,2068.40,707.73K,0.0043
2,"Jun 25, 2021",Jun,Fri,2068.85,2084.35,2088.50,2053.10,475.82K,-0.0020
3,"Jun 24, 2021",Jun,Thu,2072.95,2098.00,2098.00,2066.00,541.51K,-0.0026
4,"Jun 23, 2021",Jun,Wed,2078.25,2102.00,2111.40,2072.00,809.62K,-0.0023
...,...,...,...,...,...,...,...,...,...
244,"Jul 07, 2020",Jul,Tue,1397.40,1410.00,1411.00,1390.05,480.21K,-0.0024
245,"Jul 06, 2020",Jul,Mon,1400.75,1405.50,1415.50,1394.00,614.93K,-0.0031
246,"Jul 03, 2020",Jul,Fri,1405.10,1415.00,1425.00,1398.00,599.49K,-0.0051
247,"Jul 02, 2020",Jul,Thu,1412.35,1440.00,1467.80,1395.30,2.16M,0.0362
248,"Jul 01, 2020",Jul,Wed,1363.05,1363.65,1377.00,1356.00,383.00K,0.0032

In [40]:
df['Price'].mean()

1560.6634538152612

In [42]:
df['Price'].var()

58732.36535253918

In [50]:
df1=df.loc[df['Day']=="Wed"]
df1['Price'].mean()

1550.7060000000001

In [54]:
df2=df.loc[df['Month']=="Apr"]
df['Price'].mean()

1560.6634538152612

In [55]:
df

,Date,Month,Day,Price,Open,High,Low,Volume,Chg%
0,"Jun 29, 2021",Jun,Tue,2081.85,2092.00,2126.90,2065.05,1.67M,0.0020
1,"Jun 28, 2021",Jun,Mon,2077.75,2084.00,2112.45,2068.40,707.73K,0.0043
2,"Jun 25, 2021",Jun,Fri,2068.85,2084.35,2088.50,2053.10,475.82K,-0.0020
3,"Jun 24, 2021",Jun,Thu,2072.95,2098.00,2098.00,2066.00,541.51K,-0.0026
4,"Jun 23, 2021",Jun,Wed,2078.25,2102.00,2111.40,2072.00,809.62K,-0.0023
...,...,...,...,...,...,...,...,...,...
244,"Jul 07, 2020",Jul,Tue,1397.40,1410.00,1411.00,1390.05,480.21K,-0.0024
245,"Jul 06, 2020",Jul,Mon,1400.75,1405.50,1415.50,1394.00,614.93K,-0.0031
246,"Jul 03, 2020",Jul,Fri,1405.10,1415.00,1425.00,1398.00,599.49K,-0.0051
247,"Jul 02, 2020",Jul,Thu,1412.35,1440.00,1467.80,1395.30,2.16M,0.0362
248,"Jul 01, 2020",Jul,Wed,1363.05,1363.65,1377.00,1356.00,383.00K,0.0032

In [73]:
df=df.shape[0]      ## Rows      ## columns

In [80]:
df1=

AttributeError: ignored

In [72]:
df1*100

1377.7777777777778